*, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

nav {
    height: 80px;
    background-color: #4CAF50;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a{
    text-decoration: none;
    font-size: 30px;
    color: white;
    margin-left: 30px;
}


.nav_option{
    display: flex;
    font-size: 20px;
    margin-right: 30px;
    list-style-type: none;
    justify-content: flex-end;
    text-decoration: none;
}

.home{
    margin-right: 30px;
}

.nav_option a{
    color: white;
    text-decoration: none;
}

.nav_option a:hover {
    background-color: white;
    color: rgb(55, 191, 105);
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.content {
    display: flex;
}

.sidebar{
    min-height: 100vh;
    flex: 1;
    background-color: rgb(246, 246, 246);
    background-size: auto;
}

.sidebar_title {
    font-size: 20px;
    font-weight: 600;
    margin: 40px 0 0 50px;
}

.list_zakat {
    list-style-type: none;
    margin: 20px 0 0 80px;
}

.list_zakat a {
    text-decoration: none;
    color: black;
}

.list_zakat a:hover {
    transition: 0.2s;
    color: #59c75c;
    text-decoration: underline;
    font-weight: 700;
    margin: 10px;
}

.menu_kal {
    flex: 4;
    padding: 0 0 40px 0;
}

.title_zakat {
    font-family: 'Nunito', sans-serif;
    font-size: 45px;
    color: #4CAF50;
    margin: 40px 0 0 50px;
}


.form_input form {
    display: flex;
    flex-direction: column;
    margin: 20px 0 0 50px;
}

input[type=number] {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    width: 15%;
    font-size: 15px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 2px 2px 4px 1px rgb(143, 143, 143);
  }
  
button:hover{
    background: linear-gradient(135deg, #84ec88 0%, #5ddb61 25%, #3dab40 50%, #59c75c 75%, #84ec88 100%);
    animation: animate 10s linear infinite;
    background-size: 400%;
}

@keyframes animate {
    100% {
        background-position: 400%;
    }

    100% {
        background-position: 400%;
    }
    
}

.hasil_zakat {
    margin: 20px 0 0 50px;
    padding: 20px;
    background-color: #d3f0d4;
    width: 50%;
}

.desc_zakat {
    width: 70%;
    margin: 20px 0 0 50px;
}

#sistem_pengairan {
    width: 15%;
    border-radius: 3px;
    padding : 10px 30px 10px 30px;
    }

.desc_about {
    width: 75%;
    margin: 0 0 0 50px;
}

.desc_home {
    width: 75%;
    margin: 0 0 0 50px;
}

p span {
    font-weight: 800;
 color: #4CAF50;
}

footer {
    color: white;
    background-color: #d3f0d4;
    border-width: 50p;
    border-top: #4CAF50;
    display: flex;
    justify-content: center;
}
