{% extends "base.html" %}

{% block content %}
<h1 class="title_zakat">Tentang Project Kami</h1>
<p class="desc_about">
    Zakat merupakan salah satu rukun Islam yang wajib ditunaikan oleh umat Muslim
    sebagai bentuk ibadah dan kontribusi sosial. Namun, banyak individu merasa kesulitan
    menghitung zakat mal mereka karena kurang memahami ketentuan atau metode
    perhitungannya. Oleh karena itu, dibutuhkan sebuah alat bantu yang mudah diakses
    untuk mempermudah proses perhitungan zakat mal secara tepat sesuai syariat Islam. <br><br>

    Atas dasar itu, kami dari kelompok 7 membuat sebuah program <em>Kalkulator Zakat</em>
    untuk membantu masyarakat yang ingin menunaikan zakat ini.
    Dengan program ini, harapannya masyarakat bisa terbantu dan dimudahkan dalam proses perhitungan
    zakat mal secara cepat dan tepat.
</p>
{% endblock %}