{% extends "base.html" %}

{% block content %}
<h1 class="title_zakat">Selamat Datang!</h1>
<p class="desc_home">
    <em>Kalkulator Zakat</em> adalah program yang dibuat untuk melakukan perhitungan 
    zakat yang harus dikeluarkan oleh umat muslim  memudahkan masyarakat yang
    ingin menunaikan ibadah zakat dengat sesuai dengan ketetapan syariah

    <br><br>

    Untuk memulai perhitungan, silakan pilih kategori zakat sesuai keinginan Anda di <span style="color: #4CAF50;"> sebelah kiri halaman </span>

</p>
{% endblock %}